*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headermassege{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0070A0;
}