*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.headermassege{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0070A0;
}
.txt{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    color: #fff;
}
.ahref{
    color: #CCE5F3;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.ahref:hover{
    text-decoration: underline;
}
.header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.logo{
    width: 106px;
    height: 37px;
    margin-left: 155px;
}
.left_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_header_btn{
    background-color:#0070A0;
    border: none;
    color: #fff;
    width: 139px;
    height: 36px;
    margin-right: 159px;
    cursor: pointer;
}
.right_header_btn:hover{
    background-color: #b39d30;
}
.right_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_blue{
    color:#0070A0;
}   
.pages_links{
    margin-left: 24px;
    cursor: pointer;
    user-select: none;
}
.pages_links:hover{
    text-decoration: underline;
}
#signIn_btn{
    margin-right: 31px;
}