*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.headermassege{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0070A0;
}
.txt{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    color: #fff;
}
.ahref{
    color: #CCE5F3;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.ahref:hover{
    text-decoration: underline;
}
.header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.logo{
    width: 106px;
    height: 37px;
    margin-left: 155px;
}
.left_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_header_btn{
    background-color:#0070A0;
    border: none;
    color: #fff;
    width: 139px;
    height: 36px;
    margin-right: 159px;
    cursor: pointer;
}
.promoblock{
    width: 100%;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boardImg{
    width: 452px;
    height: 422px;
    background-color: red;
}
.promotxt{
    width: 525px;
    height: 321px;
}
.txt1{
    width: 100%;
    height: 128px;
    font-family: Fraunces;
    font-weight: 400;
    font-size: 56px;
}
.txt2{
    width: 350px;
    height: 85px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    margin-top: 24px;
}
.promoButtons{
    margin-top: 29px;
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
}
.promoTxtRemix{
    margin-top: 29px;
    width: 174px;
    height: 43px;
    margin-right: 25px;
    margin-top: 0px;
}
.right_header_btn:hover{
    background-color: #b39d30;
}
.right_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_blue{
    color:#0070A0;
}   
.pages_links{
    margin-left: 24px;
    cursor: pointer;
    user-select: none;
}
.pages_links:hover{
    text-decoration: underline;
}
#signIn_btn{
    margin-right: 31px;
}
.trustedBy{
    height: 96.81px;
    width: 100%;
    border: 1px solid #000
}
.trustedBy_txtblock{
    display: flex;
    justify-content: center;
}
.trustedBy_txt{
    font-size: 22px;
}
.focusfox_img{
    width: 124px;
    height: 33px;
}
.NowInTech_img{
    width: 159px;
    height: 27px;
}
.optimer_img{
    width: 148px;
    height: 33px;
}
.carded_img{
    width: 117px;
    height: 34px;
}
.trustedByImg{
    margin-left: 10px;
    margin-right: 10px;
}
.trustedBy_company_block{
    display: flex;
    justify-content: center;
}
.trustedBy_company_underblock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}